In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(style="white")

In [2]:
df = pd.read_csv('agg_hs.csv', index_col='species')
df[df > 10] = 10.0
# df = df.apply(np.log2)
df.head()

,B21,B22,B23,B24,B25,B26,B27,B28,B29,B30,...,E498,E499,E500,E501,E502,E503,E504,E505,E506,E508
species,,,,,,,,,,,,,,,,,,,,,
anas_platyrhynchos,-14.627005,0.00000,-21.316439,-28.579942,-26.093619,-35.662383,-32.860751,-33.116269,-31.637944,-24.787504,...,-29.711977,-23.771840,-22.935111,-31.958933,-14.661521,-21.696895,-19.765140,-42.212435,-36.834050,-44.927414
bos_taurus,-15.474664,0.00000,-29.714244,-32.283842,-27.481347,-37.015567,-29.571559,-36.982647,-32.650702,-44.458940,...,-29.706841,-23.466910,-23.295527,-32.810801,-14.966447,-18.595109,-19.182854,-43.368720,-36.929390,0.000000
camelus_dromedarius,-15.431256,-37.74682,-31.665059,-32.084747,-25.863790,-36.624608,-31.004475,-37.058202,-31.180240,-47.464224,...,-27.353705,-21.081619,-24.025253,-33.986532,-14.993380,-19.311221,-19.349970,-41.198665,-37.362094,0.000000
canis_lupus,0.000000,0.00000,-21.522350,-27.274141,-31.217614,-53.793558,-28.770439,-38.474092,-32.468314,-37.730826,...,-29.403882,-22.253679,-25.547092,-31.592090,-15.227931,-19.363594,-18.636238,-42.066117,-39.198423,0.000000
capra_hircus,-14.004472,0.00000,-26.691529,-29.547473,-25.249416,-33.434980,-30.052277,-35.620993,-31.590276,-49.040092,...,-28.100933,-22.977711,-24.669892,-32.586736,-15.228139,-18.932865,-19.236539,-42.288316,-36.488267,0.000000

In [ ]:
ace2_cols = [c for c in df.columns if 'B' in c]
ace2 = df[ace2_cols]
vrbd_cols = [c for c in df.columns if 'E' in c]
vrbd = df[vrbd_cols]

In [ ]:
fig, ax = plt.subplots(figsize=(20, 10))
mask = ace2[ace2 == 0.0].astype(bool)
sns.heatmap(
    ax=ax,
    data=ace2[mask],
    linewidths=.5,
    cmap="RdBu_r",
    xticklabels=1,
    yticklabels=1,
    cbar_kws={'label': 'Residue Interaction Energy (a.u.)'}
)

In [ ]:
fig, ax = plt.subplots(figsize=(20, 10))
mask = vrbd[vrbd == 0.0].astype(bool)
sns.heatmap(
    ax=ax,
    data=vrbd[mask],
    linewidths=.5,
    cmap="RdBu_r",
    xticklabels=1,
    yticklabels=1,
    cbar_kws={'label': 'Residue Interaction Energy (a.u.)'}
)

In [ ]:
# Normalize by human structure
nACE2 = ace2 - ace2.mean()
fig, ax = plt.subplots(figsize=(11, 9))
mask = ace2[ace2 == 0.0].astype(bool)
sns.heatmap(
    ax=ax,
    data=nACE2[mask],
    linewidths=.5,
    cmap="RdBu",
    xticklabels=1,
    yticklabels=1,
    cbar_kws={'label': 'Residue Interaction Energy (a.u.)'}
)

In [ ]:
# Normalize by human structure
nVRBD = vrbd - vrbd.loc['homo_sapiens']
fig, ax = plt.subplots(figsize=(11, 9))
mask = vrbd[vrbd == 0.0].astype(bool)
sns.heatmap(
    ax=ax,
    data=nVRBD[mask],
    linewidths=.5,
    cmap="RdBu",
    xticklabels=1,
    yticklabels=1,
    cbar_kws={'label': 'Residue Interaction Energy (a.u.)'}
)